body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round'%3e%3cpath d='M160 198.72 L160 361.28' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M180 251.39 L180 308.61' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M200 247.06 L200 312.94' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M220 101.81 L220 458.19' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M240 161.01 L240 398.99' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M260 183.44 L260 376.56' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M280 206.76 L280 353.24' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M300 97.88 L300 462.12' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M320 80.65 L320 479.36' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M340 190.4 L340 369.6' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M360 119.47 L360 440.53' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M380 147.31 L380 412.69' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M400 248.58 L400 311.42' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M420 149.45 L420 410.55' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M440 196 L440 364' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M460 175.73 L460 384.27' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M480 195.47 L480 364.53' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M500 94.18 L500 465.82' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M520 99.63 L520 460.37' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M540 243.63 L540 316.37' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M560 194.44 L560 365.56' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M580 250.01 L580 309.99' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M600 185.68 L600 374.32' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M620 137.06 L620 422.94' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M640 202.5 L640 357.5' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M660 246 L660 314' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M680 75.24 L680 484.76' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M700 163.86 L700 396.14' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M720 147.37 L720 412.63' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M740 179.2 L740 380.8' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M760 198.23 L760 361.77' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M780 154.53 L780 405.47' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M800 235.5 L800 324.5' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M820 117.78 L820 442.22' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M840 99.61 L840 460.39' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M860 142.88 L860 417.12' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M880 200.03 L880 359.97' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M900 233.47 L900 326.53' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M920 246.07 L920 313.93' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M940 136.92 L940 423.08' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M960 218 L960 342' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M980 136.19 L980 423.81' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1000 125.63 L1000 434.37' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1020 203.02 L1020 356.98' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M1040 224.01 L1040 335.99' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1060 217.03 L1060 342.97' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1080 131.04 L1080 428.96' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M1100 180.13 L1100 379.88' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1120 165.24 L1120 394.76' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M1140 133.41 L1140 426.59' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1160 230.28 L1160 329.73' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1180 73.9 L1180 486.1' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1200 203.7 L1200 356.3' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M1220 249.05 L1220 310.95' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M1240 207.91 L1240 352.1' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1260 254.7 L1260 305.3' stroke-width='15' stroke='rgba(140%2c 197%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1280 144.34 L1280 415.66' stroke-width='15' stroke='rgba(17%2c 118%2c 221%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

form {
    margin-bottom: 2em;
}
/* The device with borders */
.smartphone {
    position: relative;
    width: 180px;
    height: 320px;
    margin: auto;
    border: 8px black solid;
    border-top-width: 30px;
    border-bottom-width: 30px;
    border-radius: 18px;
    box-shadow: 2px 3px 4px #333;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 30px;
    height: 2.5px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-25%, -25%);
    background: #333;
    border-radius: 5px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 17.5px;
    height: 17.5px;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translate(-25%, -25%);
    background: #333;
    border-radius: 25%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 180px;
    height: 325px;
    background: rgb(208, 227, 236);
  }
  .content button {
    margin-top: 2em;
    background: rgb(166,220,255);
    background: radial-gradient(circle, rgba(166,220,255,1) 41%, rgba(112,159,196,1) 100%);
    border-radius: 10px;
    box-shadow: 2px 3px 4px #333;
  }
  .content button:hover {
    color: aliceblue;
    cursor: pointer;
  }
  #formAzioni p {
    margin: 1em auto;
    width: 48%;
    background-color: rgb(166,220,255);
  }